<ul class="list-group">
  <li class="list-group-item active">mode1</li>
  <li class="list-group-item">mode2</li>
  <li class="list-group-item">mode3</li>
  <li class="list-group-item">mode4</li>
  <li class="list-group-item">mode5</li>
</ul>